.select_item {
  display: flex;
  justify-content: space-between;
  transition: all 0.15s;
  padding-left: 20px;
  &:hover {
    background-color: #edf4fb;
  }
  &:hover .btn {
    visibility: visible;
  }
}

.btn {
  visibility: hidden;
  color: #1976d2;
  background-color: inherit;
  font-weight: 500;
  padding: 0px 20px;
}
